* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #101010;
    background-image: url(/assets/img/backgrounds/fotos2.png);
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding-bottom: 30px;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Smooch Sans', sans-serif;
}

h1 span {
    color: rgb(250, 80, 1);
    text-shadow: 1px 1px 20px rgb(250, 80, 1, 0.4);
}

section .photos-container {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.photos-container p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 20px rgb(250, 80, 1, 0.4);
    margin-left: 10px;
    text-align: center;
}


.photos-container .flex-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
    justify-content: center;
    
}

.flex-img .img-container{
    cursor: pointer;
    transition: all 0.3s ease;
}

.flex-img .img-container:hover{
    transform: scale(1.2);
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}